@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Garamond;
  /* background: #043a5e; */
  background-color: rgb(7, 78, 121, 0.8);
  opacity: 0.9;
  box-sizing: border-box;
}

.content {
  display: none;
}
.content.visible {
  display: flex;
}
.menu {
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: rgb(24, 23, 23, 0.9);
}
.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.menu ul li {
  font-family: Garamond;
  font-weight: 700;
  color: #fff;
  padding: 20px;
  margin: 0 8px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}
.menu ul li.menuitem {
  height: 100%;
}
.menu ul li.menuitem.active {
  background-color: rgb(7, 78, 121);
}
.menu ul li.menuitem:hover {
  background-color: rgb(7, 78, 121);
  cursor: pointer;
}

.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
  box-shadow: rgba(46, 240, 120, 0.4) 5px 5px, rgba(46, 240, 85, 0.3) 10px 10px,
    rgba(46, 240, 120, 0.4) 15px 15px, rgba(46, 240, 85, 0.3) 20px 20px,
    rgba(46, 240, 120, 0.05) 25px 25px;
}

.box h2 {
  color: rgb(196, 189, 189);
  font-weight: 500;
  filter: brightness(150%);
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.box input[type='number'] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.35s;
}

.box input[type='number']:focus {
  width: 260px;
  border-color: #2ecc71;
}
.box button.btn {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  color: white;
  border-radius: 24px;
  transition: 0.4s;
  cursor: pointer;
}
.box button.btn:hover {
  letter-spacing: 0.06rem;
}

button.delete {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  position: absolute;
  top: 80%;
  left: 49%;
  border: 0;
  background: rgb(11, 10, 10, 0.7);
  margin: 20px -48px;
  text-align: center;
  border: 2px solid rgb(255, 0, 0);
  padding: 14px 40px;
  color: white;
  border-radius: 24px;
  transition: 0.5s;
  cursor: pointer;
}
button.delete:hover {
  transform: translateY(-0.5em);
  background-color: rgb(255, 0, 0, 0.7);
}

footer {
  position: fixed;
  left: 0;
  bottom: 20px;
  width: 100%;
  color: white;
  text-align: center;
}
